<div class="container-fluid px-4 py-3" [@fadeInUp]>

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="m-0">Tablero de Incidencias</h2>
    <img src="./assets/images/tecsa.png" alt="Logo" style="height: 40px;">
  </div>

  <div class="row mt-2">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row text-center">
            <div class="d-flex justify-content-md-end justify-content-start flex-wrap gap-3 mb-3 w-100">
              <div class="d-flex flex-column" *ngIf="buttonsFecha" [@fadeInUp]>
                <label class="text-white mb-1">Fecha Inicio:</label>
                <dx-date-box type="date" [(value)]="fechaInicio" [width]="200" [displayFormat]="'dd-MMM-yyyy'"
                  [inputAttr]="{ 'aria-label': 'Fecha Inicio' }">
                </dx-date-box>
              </div>

              <div class="d-flex flex-column" *ngIf="buttonsFecha" [@fadeInUp]>
                <label class="text-white mb-1">Fecha Fin:</label>
                <dx-date-box type="date" [(value)]="fechaFin" [width]="200" [displayFormat]="'dd-MMM-yyyy'"
                  [inputAttr]="{ 'aria-label': 'Fecha Fin' }">
                </dx-date-box>
              </div>

              <div class="d-flex align-items-end">
                <button class="btn btn-primary" (click)="consultarPorRango()" [@fadeInUp] *ngIf="buttonsFecha">
                  Consultar
                </button>
                <button class="btn btn-success" [@fadeInUp] (click)="obtenerDatos()" *ngIf="buttonInfo">
                  Obtener el Día Actual
                </button>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-3">
              <div class="bg-dark rounded p-4 shadow-sm">
                <dx-pie-chart id="pie" type="doughnut" palette="Soft Pastel" [dataSource]="informacion"
                  [customizePoint]="customizePoint" class="grafico-mini">
                  <dxo-title text="Conteo de Hits">
                    <dxo-subtitle text="Personas: {{totalGeneral}}"></dxo-subtitle>
                  </dxo-title>
                  <dxo-export [enabled]="true"></dxo-export>
                  <dxo-legend [margin]="0" horizontalAlignment="center" verticalAlignment="bottom"></dxo-legend>
                  <dxi-series argumentField="etiqueta" valueField="value">
                  </dxi-series>
                  <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip">
                  </dxo-tooltip>
                </dx-pie-chart>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-3">
              <div class="bg-dark rounded p-4 shadow-sm">
                <dx-pie-chart type="doughnut" palette="Soft Pastel" [dataSource]="edadesAgrupadas"
                  [customizePoint]="customizeEdadPoint" class="grafico-mini">
                  <dxo-title text="Conteo de Edades Ambos Géneros">
                    <dxo-subtitle text="Personas: {{totalGeneral}}"></dxo-subtitle>
                  </dxo-title>
                  <dxo-export [enabled]="true"></dxo-export>
                  <dxo-legend [margin]="0" horizontalAlignment="center" verticalAlignment="bottom"></dxo-legend>
                  <dxi-series argumentField="etiqueta" valueField="value"></dxi-series>
                  <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeEdadTooltip"></dxo-tooltip>
                </dx-pie-chart>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-3">
              <div class="bg-dark rounded p-4 shadow-sm">
                <dx-pie-chart type="doughnut" palette="Soft Pastel" [dataSource]="edadesMujeres"
                  [customizePoint]="customizeEdadMujeresPoint" class="grafico-mini">
                  <dxo-title text="Segmentación por Edades">
                    <dxo-subtitle text="Mujeres: {{totalMujeres}}"></dxo-subtitle>
                  </dxo-title>
                  <dxo-export [enabled]="true"></dxo-export>
                  <dxo-legend [margin]="0" horizontalAlignment="center" verticalAlignment="bottom"></dxo-legend>
                  <dxi-series argumentField="etiqueta" valueField="value"></dxi-series>
                  <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeEdadMujeresTooltip">
                  </dxo-tooltip>
                </dx-pie-chart>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-3">
              <div class="bg-dark rounded p-4 shadow-sm">
                <dx-pie-chart type="doughnut" palette="Soft Pastel" [dataSource]="edadesHombres"
                  [customizePoint]="customizeEdadHombresPoint" class="grafico-mini">
                  <dxo-title text="Segmentación por Edades">
                    <dxo-subtitle text="Hombres: {{totalHombres}}"></dxo-subtitle>
                  </dxo-title>
                  <dxo-export [enabled]="true"></dxo-export>
                  <dxo-legend [margin]="0" horizontalAlignment="center" verticalAlignment="bottom"></dxo-legend>
                  <dxi-series argumentField="etiqueta" valueField="value"></dxi-series>
                  <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeEdadHombresTooltip">
                  </dxo-tooltip>
                </dx-pie-chart>
              </div>
            </div>
          </div>

          <div class="row text-left mt-5">
            <div class="col-12 col-sm-12 col-lg-12 mb-3">
              <div class="bg-dark rounded p-4 shadow-sm mb-4">
                <h1 class="text-white fs-4 m-0">Registro de Incidencias</h1>
                <dx-data-grid id="gridContainer" [columnHidingEnabled]="true" [showBorders]="true"
                  [showColumnLines]="true" [showRowLines]="true" [rowAlternationEnabled]="true"
                  (onOptionChanged)="manejarCambioOpciones($event)" [dataSource]="informacionGrid" [keyExpr]="'id'"
                  [width]="'100%'" [groupPanel]="{ visible: true }">
                  <dxo-search-panel [visible]="true" [width]="200" placeholder="Buscar..."></dxo-search-panel>
                  <dxo-paging [pageSize]="10"></dxo-paging>
                  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50, 100, 200]"
                    [showInfo]="true"></dxo-pager>
                  <dxo-group-panel [emptyPanelText]="mensajeAgrupar" [visible]="true"></dxo-group-panel>
                  <dxo-filter-row [visible]="showFilterRow"></dxo-filter-row>
                  <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
                  <dxo-grouping [autoExpandAll]="true"></dxo-grouping>

                  <dxi-column dataField="genero" caption="Genero" alignment="center"
                    [calculateCellValue]="capitalizarGenero"></dxi-column>
                  <dxi-column dataField="edad" caption="Edad" alignment="center" cellTemplate="eda">
                    <div *dxTemplate="let or of 'eda' ">
                      {{or.data.edad + ' ' + 'Años'}}
                    </div>
                  </dxi-column>
                  <dxi-column dataField="estadoAnimo" caption="Estado de Ánimo" alignment="center"
                    cellTemplate="estAnim">
                    <div *dxTemplate="let t of 'estAnim' ">
                      {{t.data.estadoAnimo | titlecase}}
                    </div>
                  </dxi-column>
                  <dxi-column dataField="fecha" caption="Fecha y Hora" alignment="center"
                    [calculateCellValue]="formatearFecha"></dxi-column>
                  <dxi-column dataField="id" caption="Id" alignment="center" [width]="200"></dxi-column>
                  <dxo-summary>
                    <dxi-total-item column="id" summaryType="count" displayFormat="Total: {0}"
                      cssClass="large-total-text">
                    </dxi-total-item>
                  </dxo-summary>
                  <dxo-summary>
                    <dxi-group-item column="id" summaryType="count" displayFormat="Total: {0}">
                    </dxi-group-item>
                    <dxi-group-item column="id" summaryType="count" displayFormat="Total: {0}"
                      [showInGroupFooter]="true">
                    </dxi-group-item>
                  </dxo-summary>
                  <dxo-export [enabled]="false" [allowExportSelectedData]="true"
                    [texts]="{ exportAll: 'Exportar todos los datos a Excel'}">
                  </dxo-export>
                </dx-data-grid>
              </div>
            </div>
          </div>

          <div class="row text-left mt-5">
            <div class="col-12 col-sm-12 col-lg-12 mb-3">
              <div class="bg-dark rounded p-4 shadow-sm mb-4">
                <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-3">
                  <h4 class="text-white mb-2 mb-md-0">Conteo de Hits por Hora</h4>
                </div>

                <dx-chart [dataSource]="distribucionPorHora" id="chart">
                  <dxo-common-series-settings argumentField="hora" type="stackedBar"></dxo-common-series-settings>

                  <dxi-series valueField="hombre" name="Hombres" color="#4a90e2">
                    <dxo-label [visible]="true" [customizeText]="customizeLabelText"></dxo-label>
                  </dxi-series>

                  <dxi-series valueField="mujer" name="Mujeres" color="#ff69b4">
                    <dxo-label [visible]="true" [customizeText]="customizeLabelText"></dxo-label>
                  </dxi-series>
                  <!-- <dxi-value-axis>
                    <dxo-title text="Cantidad de Personas"></dxo-title>
                  </dxi-value-axis> -->
                  <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip"></dxo-tooltip>
                  <dxo-legend verticalAlignment="bottom" horizontalAlignment="center"
                    itemTextPosition="top"></dxo-legend>
                  <dxo-export [enabled]="true"></dxo-export>
                </dx-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end row -->

</div> <!-- container-fluid -->

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [(visible)]="loading" [showIndicator]="true" [showPane]="true"
  [shading]="true" [closeOnOutsideClick]="false" [message]="loadingMessage">
</dx-load-panel>