::ng-deep .dx-datagrid .dx-row>td {
    padding: 16px 16px;
    font-size: 18px;
    line-height: 20px;
}

::ng-deep .dx-datagrid-headers .dx-datagrid-table .dx-row>td {
    border-bottom: 1px solid #515159;
    line-height: 16px;
    font-weight: 500;
    font-size: 18px;
}

.space{
    padding: 15px;
}

.grafico-mini {
  width: 100% !important;
  height: 300px !important;
  margin: 0 auto;
}


 ::ng-deep .dx-datagrid-summary-item {
  text-align: center;
  color: #3bff00;
}

::ng-deep .small-sum-text {
  font-size: 12px;
}

::ng-deep .large-total-text {
  font-size: 20px;
  padding: 7px;
  font-weight: bold;
}
